asgiref==3.8.1
asn1crypto==1.5.1
blinker==1.8.2
Brlapi==0.8.5
catfish==4.16.4
certifi==2024.6.2
chardet==5.2.0
charset-normalizer==3.3.2
cryptography==42.0.5
cupshelpers==1.0
dbus-python==1.3.2
distlib==0.3.8
distro==1.9.0
distro-info==1.7
Django==5.0.7
filelock==3.15.4
git-cola==4.8.1
gpg==1.18.0
html5lib==1.1
httplib2==0.22.0
idna==3.6
kali-tweaks==2023.3.2
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lightdm-gtk-greeter-settings==1.2.3
louis==3.30.0
Mako==1.3.5.dev0
MarkupSafe==2.1.5
mechanize==0.4.10
netifaces==0.11.0
oauthlib==3.2.2
onboard==1.4.1
packaging==24.0
pexpect==4.9.0
platformdirs==4.2.2
polib==1.2.0
ptyprocess==0.7.0
pycairo==1.26.0
pycups==2.0.4
Pygments==2.18.0
PyGObject==3.48.2
PyJWT==2.7.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.7
pysmbc==1.0.25.1
PySocks==1.7.1
python-apt==2.9.0
python-dateutil==2.9.0
python-magic==0.4.27
pytz==2024.1
pyxdg==0.28
PyYAML==6.0.1
QtPy==2.4.1
requests==2.31.0
six==1.16.0
sqlparse==0.5.1
suricata-update==1.3.3
torbrowser-launcher==0.3.7
urllib3==1.26.18
vboxapi==1.0
virtualenv==20.26.3
wadllib==1.3.6
webencodings==0.5.1
xdg==5
