{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cybertea</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            
            <div class="logo"><img src="{% static 'images/zlogo.png' %}" alt="img">
                <a href="#">CyberTea</a>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'incident_stats' %}">Incident Stats</a></li>


                </ul>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <div class="container">
           {% block content %}
           
           {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 Cybertea. All Rights Reserved.</p>
            <ul class="socials">
                <li><a href="#">Facebook</a></li>
                <li><a href="#">X</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
