{% extends './base.html' %}

{% block title %}CVE Details{% endblock %}

{% block content %}
<main>
    <section>
        <h2>Incident Details</h2>
        {% if cve %}
            <p><strong>ID:</strong> {{ cve.id }}</p>
            <p><strong>Summary:</strong> {{ cve.summary }}</p>
            <p><strong>CVSS Score:</strong> {{ cve.cvss }}</p>
            <p><strong>Published:</strong> {{ cve.Published }}</p>
            <p><strong>Modified:</strong> {{ cve.Modified }}</p>

            {% if cve.nvd_details %}
                <h2>NVD Details</h2>
                <ul>
                    {% for item in cve.nvd_details %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No additional data available from NVD.</p>
            {% endif %}

            <h2>Cybertea Stats</h2>
            <div>
                <pre>{{ ai_generated_summary }}</pre>
            </div>
        {% else %}
            <p>No details available for this CVE.</p>
        {% endif %}
        <a href="{% url 'recent_cves' %}">Back to Recent CVEs</a>
    </section>
</main>
{% endblock %}
