{% extends './base.html' %}
{% load static %}

{% block title %}CVE Details{% endblock %}

{% block content %}
<main>
    <section>
        <h1>CVE Details</h1>

        {% if cve_data.error %}
            <p>Error: {{ cve_data.error }}</p>
        {% else %}
            <h2>{{ cve_data.id }}</h2>
            <p><strong>Description:</strong> {{ cve_data.description }}</p>
            <p><strong>Published Date:</strong> {{ cve_data.Published }}</p>
            <p><strong>Last Modified:</strong> {{ cve_data.LastModified }}</p>
        {% endif %}

        <h3>AI-Generated Analysis</h3>
        <p>{{ ai_generated_summary }}</p>

        <a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ cve_data.id }}" target="_blank">View on CVE wbesite</a>
    </section>
</main>
{% endblock %}
