{% extends './base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<div class="container">
    <div>
        <br><br>
    </div>
    <div>
        <center>
            <a href="/" class="btn">Update feed</a>
        </center>
    </div>
    <br>
    
    <div>
        <h3>News from Kreb's</h3>
        {% for n in krebs_news %}
        <h5> 🇳🇬  {{ n }} </h5>
        <hr>
        {% endfor %}
        <br>
    </div>

    <div>
        <h3>News from The Hacker News</h3>
        {% for hn in hackernews_news %}
        <h5> 🇱🇹  {{ hn }} </h5>
        <hr>
        {% endfor %}
        <br>
    </div>
</div>

{% endblock %}