{% extends './base.html' %}
{% load static %}

{% block title %}Recent CVEs{% endblock %}

{% block content %}
<main>
    <section>
        <ul>
            {% for cv in cves %}
                {% if cv.vulnerabilities %}
                    <li class="cve_list">
                        <strong><a href="{% url 'cve_details' cv.vulnerabilities.0.cve %}">
                            {{ cv.vulnerabilities.0.cve }}</a></strong><br>
                        <a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ cv.vulnerabilities.0.cve }}" class="mitre_link">MITRE  Details</a>
                    </li>
                    <hr>
                {% else %}
                    <li>
                        <strong>Unknown ID</strong>: {{ cve.summary }}
                    </li>
                {% endif %}
            {% empty %}
                <li>No CVEs available at this time.</li>
            {% endfor %}
        </ul>
        
    </section>
</main>
{% endblock %}