{% extends './base.html' %}
{% load static %}

{% block title %}Recent CVEs{% endblock %}

{% block content %}
<main>
    <section>
        <ul>
            {% for cve in cves %}
                {% if cve.aliases %}
                    <li class="cve_list">
                        <strong><a href="{% url 'cve_details' cve.aliases.0 %}">
                            {{ cve.aliases.0 }}</a></strong><br>
                        <a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name={{ cve.aliases.0 }}" class="mitre_link">MITRE  Details</a>
                    </li>
                    <hr>
                {% else %}
                    <li>
                        <strong>Unknown ID</strong>
                    </li>
                {% endif %}
            {% empty %}
                <li>No CVEs available at this time.</li>
            {% endfor %}
        </ul>
        
    </section>
</main>
{% endblock %}